.Task {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    margin-bottom: 16px;
  }

  .Task figure,
  h5 {
    margin: 0 0;
  }

  .CardTitle {
    text-align: center;
    font-size: xx-large;
  }

  .DetailLink {
    text-align: center;
    width: 100%;
  }

  .Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .AvatarColumn,
  .CardHeaderText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .CreatedBy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .MoreDropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* contains the due date & watch/unwatch icon*/
  .DateEyeContainer {
    display: flex;
    justify-items: space-between;
    padding: 0px 0.4rem;
    background-color: var(--light-neutral);
  }
  /* full width */
  .DateEyeWide {
    width: 100%;
  }

  /* narrower (used on TaskDetail page) */
  .DateEyeNarrow {
    width: 90%;
    margin: 0px 5%;
  }

  .DateContainer {
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }

  .EyeContainer {

    justify-self: flex-end;
    max-width: 5.5rem;
  }

  /* color schemes based on task priority */

  .VeryDarkHighText {
    color: var(--very-dark-high);
  }

  .VeryDarkMedText {
    color: var(--very-dark-med);
  }

  .VeryDarkLowText {
    color: var(--very-dark-low);
  }

  .DarkHighText {
    color: var(--dark-high);
  }

  .DarkMedText {
    color: var(--dark-med);
  }

  .DarkLowText {
    color: var(--dark-low);
  }

  .DarkHighBg {
    background-color: var(--dark-high);
    color: var(--white);
    font-weight: bold;
  }

  .DarkMedhBg {
    background-color: var(--dark-med);
    color: var(--white);
    font-weight: bold;
  }

  .DarkLowBg {
    background-color: var(--dark-low);
    color: var(--white);
    font-weight: bold;
  }

  .LightHighBg {
    background-color: var(--light-high);
  }


  .LightMedBg {
    background-color: var(--light-med);
  }

  .LightLowBg {
    background-color: var(--light-low);
  }

  /* watch/unwatch icon priority colors */

  .EyeLow {
    color: var(--dark-low);
  }

  .EyeLow:hover {
    color: var(--very-dark-low);
  }

  .EyeOutlineLow {
    color: var(--very-dark-low);
  }

  .EyeOutlineLow:hover {
    color: var(--dark-low);
  }

  .EyeMed {
    color: var(--dark-med);
  }

  .EyeMed:hover {
    color: var(--very-dark-med);
  }

  .EyeOutlineMed {
    color: var(--very-dark-med);
  }

  .EyeOutlineMed:hover {
    color: var(--dark-med);
  }

  .Eye {
    color: var(--dark-high);
  }

  .Eye:hover {
    color: var(--very-dark-high);
  }

  .EyeOutline {
    color: var(--very-dark-high);
  }

  .EyeOutline:hover {
    color: var(--dark-high);
  }

  /* very small screens */
  @media screen and (max-width: 374px) {
    .DateContainer {
      flex-direction: column;
    }
  }
  