:root {
  /* color variables */
  /* high priority */
  --very-dark-high: #531D04;
  --dark-high: #D7410F;
  --med-high: #FD7E14;
  --light-high: #f7ddcf;
   /* med priority */
  --very-dark-med: #08374F;
  --dark-med: #0F6895;
  --med-med: #20A6E9;
  --light-med: #BFE6F7;
  /* low priority */
  --very-dark-low: #084f37;
  --dark-low: #1b871d;
  --med-low: #7ef075;
  --light-low: #ceedcc;
  /* neutrals */
  --light-neutral: #F9FAFC;
  --white: #FFFFFF;
  --gray: #242a3d;
  --light-gray: #dadadf;
}

.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid var(--light-gray);
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #2142b2;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #2142b2;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* rounded corners on bigger objects */
.Rounded {
  border-radius: 20px;
}

.RoundedTop {
  border-radius: 20px 20px 0px 0px !important;
}

/* rounded corners on smaller objects */
.LittleRounded {
  border-radius: 10px;
}

.LittleRoundedBottom {
  border-radius: 0px 0px 10px 10px;
}
